* {
    box-sizing: border-box;
}

section {
    height: 720px;
    width: 1280px;
    background: #FFFFFF;
    font-family: Roboto, serif;
}

div {
    padding: 10px;
    margin: 10px;
}

div:nth-child(odd) {
    width: 73.71%;
    height: 20.83%;
    background: #C4C4C4;
}

div:nth-child(even) {
    width: 49.14%;
    height: 20.83%;
    background: #C4C4C4;
}

.root {
    font-size: 56px;

}

.h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    margin: 0px;
    padding: 0px;

}
.h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 75%;
    margin: 0px;
    padding: 0px;
}

.root1 {
    font-size: 42px;}

.h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 75%;
    margin: 0px;
    padding: 0px;
}
.h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    margin: 0px;
    padding: 0px;
}
.root2 {
    font-size: 42px;}

.h2a {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}
.h3a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}